@font-face {
  font-family: "SCOREBOARD-ANALOG";
  src: url(./analogFonts/digital-7.ttf);
}

html{
    background-image: url(./assets/brazil-croatia-berlin-june-13-2006-2-1442377\(1\).jpg); /*Free Asset Available in FreeImages.com Img reference: https://www.freeimages.com/photo/brazil-croatia-berlin-june-13-2006-2-1442377*/
    background-size: cover;
}
#deck {
    position: fixed;
    border: 2px solid black;
    z-index: 1;
    height: 500px;
    width: 500px;
    background-image: url(./assets/soccer-field-1147736.jpg);   /*Free Asset Available in FreeImages.com Img reference: https://www.freeimages.com/photo/soccer-field-1147736*/
    background-size: 500px 500px;
  }
  
  #player1 {
    position: absolute;
    left: 0;
    width: 10px;
    height: 50px;
    background-color: blue;
    z-index: 1;
    border: solid black 2px;
    border-radius: 15px;

  }
  
  #player2 {
    position: absolute;
    right: 0;
    width: 10px;
    height: 50px;
    background-color: red;
    z-index: 1;
    border: solid black 2px;
    border-radius: 15px;
  }
  
  #ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
    z-index: 1;
    border: solid black 1.5px;
    border-radius: 50%;

  }

  #scoreboard-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
    
    #scoreboard {
        font-family: "SCOREBOARD-ANALOG";
        font-size: 24px;
        font-weight: bold;
        z-index: 3;
        position: relative;
        transform: translateX(600px);
        border: 1px solid black;
        border-radius: 15px;
        color: rgb(255, 51, 0);
        box-shadow: 15px 15px 10px red ;
        padding: 15px;
        letter-spacing: 3.5px;
        background-color: rgb(23, 21, 21);
      }
    
    #restart-btn {
    background-color: blue;
    color: black;
    padding: 10px 20px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    }
    
    #game-over {
    display: unset;/*this is really impportant that way we can change it at the end of the game*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: unset;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    
    #game-over-section{
    color: black 2px;
    font-size: 36px;
    margin-bottom: 20px;
    }
    
    #winner {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }

    .powerboost-ball{
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: unset;
        z-index: 1;
        border: solid black 1.5px;
        border-radius: 50%;
    }